PORT= port the app will run on 

MAIN_CORS_ORIGIN= the frontend origin for main cors
IO_CORS_ORIGIN= the frontend origin for io cors

#main
DATABASE_URL= Local DB url

#supabase

# Connect to Supabase via connection pooling
DATABASE_URL= Url for supabase

# Direct connection to the database. Used for migrations
DIRECT_URL= direct url for supabase

JWT_SECRET= the secret for the JWT
JWT_EXPIRES_IN= when will it expire 

GOOGLE_CLIENT_ID= Client Id for google auth
GOOGLE_CLIENT_SECRET= google auth secret
GOOGLE_CALLBACK_URL= google auth callback url
GOOGLE_REDIRECT_URL= google auth redirect url